.root {
    -fx-focus-color: -fx-accent;
    -fx-control-inner-background: derive(-fx-base, 35%);
    -fx-control-inner-background-alt: -fx-control-inner-background;
}

.dangerous {
    -fx-base: darkred;
    -fx-text-fill: white;
}

.prominent {
    -fx-base: darkgreen;
    -fx-text-fill: white;
}

/* terminal.css */
.terminal {
    -fx-font-family: "Courier New", monospace;
    -fx-highlight-fill: darkgreen;
    -fx-text-fill: darkgreen;
}