.root {
    -uiptv-base-font-size: 13;
    -fx-font-size: 13;
    -fx-accent: #0078D7;
    -fx-focus-color: -fx-accent;
    -fx-base: #1c1c1c;
    -fx-control-inner-background: #2c2c2c;
    -fx-control-inner-background-alt: #3c3c3c;
    -fx-text-fill: #e0e0e0;
    -uiptv-card-bg: #2b2d30;
    -uiptv-card-border: #4e5258;
}
